body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
  text-decoration: none;
}

h1{
  font-size: 3.6rem;
  line-height: 3rem;
  letter-spacing: 1rem;
}

h2{
  font-size: 2.6;
}

p{
  font-size: 1.6;
}